.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  width: 100%;
  padding: 20px 30px;
}
.main-header {
  display: grid;
  height: 220px;
  grid-template-columns: 318px 945px;
}

.main-header > .header {
  background-color: #2196f3;
  color: white;
  padding: 15px 25px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.3rem;
}

.main-header > .sub-header {
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.167), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex: 1;
}
nav {
  width: auto;
} 
.content{
  padding: 10px;
}
