 .headers {
    display: flex;
    color: black;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 20px;
  } 
    
 .headers label {
    font-size: 1rem;
    color: #333;
    margin-top: -10px;
  }
  
  .headers select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #1650ff;
    width: 120px;
  }