.sidebar {
  width: 300px;
  background-color: #E7E9EA;
  padding: 10px;
  height: 100vh;
  color: #265c79;
}

.menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e0e0e0;
}

.downicon {
  transition: transform 0.00001s ease;
}

.rotated {
  position:sticky;
  transform: rotate(180deg);
}

.dropdown {
  padding-left: 20px;
  color: #265c79;
}

.dropdown-item {
  padding: 5px 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e0e0e0;
}
.signed-user{
  
  margin-top: 20rem;

}
