button, .new-certificate-button{
    background-color: rgb(174, 222, 0);
    color: white;
    padding: 10px;
    width: fit-content;
    border: 1px solid rgba(69, 46, 46, 0.349);

}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content span:hover {
    background-color: #8c8c8c6f;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  