.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .grd {
    display: grid;
    grid-template-columns: 23.2% 76.7%;
  }
  .grd > .header {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
  }
  .grd > .header1 {
    background-color: #ffffff;
    color: white;
    border-bottom: 2px solid rgba(121, 119, 119, 0.324);;
    padding: 10px 20px;
    font-size: 24px;
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
  }
  .container {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  