.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #3F9AC9;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .container {
    display: flex;
    flex: 1;
  }  
  .content {
    flex: 1;
    padding: 20px;
  }
  .TwoSection{
    background-color: #2196f3;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgb(69, 69, 69);
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
