body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  #root{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }